<h1>Order #<%= @order.id %></h1>

<p>Subtotal: $<%= @order.subtotal %></p>
<p>Tax: $<%= @order.tax %></p>
<p>Total: $<%= @order.total %></p>

<p>Email address: <%= @order.user.email %></p>
<% @products.each do |product| %>
  <p>Product: <%= product.name %></p>
  <p><img src= "<%= product.images.first.link %>" class="img-responsive" width= 300px height= 300px></p>
<% end %>
<p>Purchased at: <%= @order.created_at %></p>