<h1>Update a product!</h1>

<%= form_tag "/products/#{@product.id}", method: :patch do %>

  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, @product.name %>
  </div>
  <div>
    <%= label_tag :in_stock %>
    <%= text_field_tag :in_stock, @product.in_stock %>
  </div>
  <div>
    <%= label_tag :price %>
    <%= text_field_tag :price, @product.price %>
  </div>
  <div>
    <%= label_tag :link %>
    <%= text_field_tag :link, @product.images.first.link %>
  </div>
  <div>
    <%= label_tag :description %>
    <%= text_field_tag :description, @product.description %>
  </div>
  <div>
    <%= label_tag "Supplier: " %>
    <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name %>
  </div>

  <%= submit_tag "Update Product" %>

<% end %>

<a href="/products/">Back to all products</a>