<h1>Products</h1>

<table class="table table-striped">
  <th>Name</th>
  <th>Price</th>
  <th>Image</th>
  <th>Description</th>
  
  <% @products.each do |product| %>
    <tr>
      <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
      <td><%= product.price %></td>
      <td><img src= <%= product.image %> class="img-responsive" alt= <%= product.name %> width= 60px height= 60px></td>
      <td><%= product.description %></td>
    </tr>
  <% end %>

</table>

<a href="/products/new">Add a new product</a>