<h1>Products</h1>

<div><p>Sort by:</p></div>
<div><a href="/products?sort_by=price&sort_order=asc">price: lowest to highest</a></div>
<div><a href="/products?sort_by=price&sort_order=desc">price: highest to lowest</a></div>
<% @categories.each do |category| %>
  <div><a href="/products?category=<%= "#{category.name}" %>"><%= "#{category.name}" %></a></div>
<% end %>

<%= form_tag "/search", method: :post do %>
  <%= text_field_tag :search%>
  <%= submit_tag "Search" %>
<% end %>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/products/<%= product.id %>">
          <p><%= product.name %></p>
          <p><%= product.check_status %></p>
          <p class="<%= product.sale_message %>">$<%= product.price %></p>
          <% if product.images.first %>
            <p><img src="<%= product.images.first.link %>" class="img-responsive" width= 100px height= 100px></p>
          <% end %>
          <p><%= product.description %></p>
        </a>
      </div>
    </div>
  <% end %>
</div>
