<h1><%= @product.name %></h1>

<table class = "table table-striped">
  <th>Name</th>
  <th>Price</th>
  <th>Image</th>
  <th>Description</th>

  <tr>
    <td><%= @product.name %></td>
    <td><%= @product.price %></td>
    <td><img src= <%= @product.image %> class="img-responsive" alt= <%= @product.name %> width= 60px height= 60px></td>
    <td><%= @product.description %></td>
  </tr>

</table>
<div><%= link_to "Edit this product", "/products/#{@product.id}/edit" %></div>
<div><%= link_to "Back to all products", "/products" %></div>