<h1><%= @product.name %></h1>

<div class="row">
    <div class="col-md-6">
      <div class="thumbnail thumbnail-show">
        <p><%= @product.name %></p>
        <p><%= @product.check_status %></p>
        <p>Price: $<%= @product.price %></p>
        <p>Tax: $<%= @product.tax %></p>
        <p>After tax: $<%= @product.total %></p>
        <p><%= @product.sale_message %></p>
        <% @images.each do |image| %>
          <p><img src= <%= image.link %> class="img-responsive" width= 300px height= 300px></p>
        <% end %>
        <p><%= @product.description %></p>
        <p>Supplier: <%= @product.supplier.name %></p>
      </div>
    </div>
</div>

<div><%= link_to "Edit this product", "/products/#{@product.id}/edit" %></div>
<div><%= link_to "Delete this product", "/products/#{@product.id}", method: :delete %></div>
<div><%= link_to "Back to all products", "/products" %></div>