<h1><%= @product.name %></h1>

<p><%= @product.name %></p>
<p><%= @product.check_status %></p>
<p>Price: $<%= @product.price %></p>
<p>Tax: $<%= @product.tax %></p>
<p>After tax: $<%= @product.total %></p>
<% @images.each do |image| %>
  <p><img src= "<%= image.link %>" class="img-responsive" width= 300px height= 300px></p>
<% end %>
<p><%= @product.sale_message %></p>
<p><%= @product.description %></p>
<p>Supplier: <%= @product.supplier.name %></p>

<div><%= link_to "Edit this product", "/products/#{@product.id}/edit" %></div>
<div><%= link_to "Delete this product", "/products/#{@product.id}", method: :delete %></div>
<div><%= link_to "Back to all products", "/products" %></div>

<% if current_user %>
    <%= form_tag '/carted_products', method: :post do %>
        <div>
            <%= label_tag :quantity %>
            <%= text_field_tag :quantity %>
        </div>
        <div>
            <%= hidden_field_tag :product_id, @product.id %>
        </div>
        <%= submit_tag "Add to cart" %>
    <% end %>
<% elsif %>
    <p>If you want to purchase an item, please log in!</p>
<% end %>